.list {
  border-bottom: 1px solid #6b656593;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
