.input {
  width: 30%;
  height: 25px;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 10px;
}
